body {
    font-family: cursive;
    background: linear-gradient(to bottom, #ebf9af 30%, #b4fdc4 100%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container, .content {
    padding: 30px; /* Adds padding inside .container and .content for inner spacing */
    box-sizing: border-box;
}
h1 {
    text-align: center;
    color:  #ff0800; 
    font-family: cursive;;
}
h2 {
    color: rgb(255, 81, 81);
}
h3 {
    color: rgb(86, 85, 85);
}
a:not(.navbar a), a:not(.navbar a):hover { /* Excludes navbar links */
    color: #7800a7; /* Bright blue color */
}
.navbar {
    background-color: #118a63c7;
    text-align: center;
    padding: 10px 0;
}
.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.resume-container {
    flex: 0 0 23%;
    text-align: center;
    padding: 20px; /* Adds space around the picture */
}

.image-container img {
    margin-bottom: 20px;
    max-width: 100%; /* Keeps images responsive and not larger than their container */
    height: auto; /* Maintain aspect ratio */
}
.service-image {
    width: 20%; /* or any other size */
    height: auto; /* maintains the aspect ratio */
    display: block; /* ensures the image doesn't have extra space around it */
    margin: 0 auto; /* centers the image within its container */
}
.project {
    margin-bottom: 20px; /* Adds space between projects */
}

.project-title, .project-description {
    padding: 0 30px; /* Adds horizontal padding to text within projects for additional spacing from edges */
}
ul {
    margin-bottom: 20px; /* Adds space between each list item/section */
}

.tp-container {
    display: flex; /* Enables flexbox layout */
    flex-direction: row; /* Aligns children side by side */
    align-items: flex-start; /* Aligns items at the start of the flex container */
    gap: 0px; /* Space between the images and text sections */
}

.tp-images, .tp-text {
    display: flex; /* Enables flexbox for these containers too, for further control */
    flex-direction: column; /* Aligns their children (images or text blocks) vertically */
}

.tp-images {
    flex: 1; /* Keeps the flex assignment as is */
    max-width: 50%; /* Keeps the maximum width at 50% of their parent container */
    padding: 30px; /* Adds padding inside the tp-images container */
}

.tp-text {
    flex: 2; /* Allows this container to take more space than the images container */
}

.tp-images img {
    width: 100%; /* Adjusts the width of the images to be smaller than the container */
    height: auto; /* Maintains aspect ratio of the images */
    margin: 30 auto; /* Centers the images within the tp-images container */
    display: block; /* Ensures images are laid out as block elements, enabling margin auto to work */
}



#landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
#mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
#textSection {
    flex: 1;
    padding: 20px;
}
#imageSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#imageSection img {
    width: auto;
    max-width: 60%;
    max-height: 500px;
    height: auto;
    margin: 0 10px;
}
#contactInfo {
    text-align: center;
    width: 100%;
}
#toggleSwitch {
    position: absolute;
    top: 20px;
    right: 20px;
}
.toggle {
    margin-left: 5px;
}


.content ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 30px; /* Adds space between sections */
}

img {
    max-width: 100%; /* Ensures images are never wider than their container */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes any inline defaults, can adjust if needed */
    margin: 10px 0; /* Adds vertical space around images */
}
